/* sections */
section[data-scroll-section]{
	min-height:500px;	
	position:relative;
	h2{
		height:75px;
		line-height: 75px;
		border:solid 1px #000;
		width:100%;
	}
	&.scroll-active{

		h2{
			position:fixed;
			top:0px;			
			width:100%;
		}
	}
}

@import "intro.scss";
@import "education.scss";
@import "history.scss";
@import "skills.scss";
@import "references.scss";
@import "notes.scss";