/* sections */
section[data-scroll-section]{
	min-height:500px;	
	position:relative;
	h2{
		height:75px;
		line-height: 75px;
		background-color: rgba(255,255,255,0.2);
		box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.4);
		width:100%;
		text-transform: capitalize;
	}
	&.scroll-active{

		h2{
			position:fixed;
			top:0px;			
			width:100%;
		}
	}
}

@import "intro.scss";
@import "education.scss";
@import "history.scss";
@import "skills.scss";
@import "references.scss";
@import "notes.scss";